<h1>FAQ</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      How to use the dictionaries in GoldenDict?
    </div>
    <div class="panel-body">
      body
    </div>
  </div>
</div>
