<ol class="breadcrumb">
  <li class="active"><%= link_to "FAQ", faq_path %></li>
</ol>

<h1>FAQ</h1>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      How to use the dictionaries in GoldenDict?
    </div>
    <div class="panel-body">
      body
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      What are some good dictionary lookup programs?
    </div>
    <div class="panel-body">
      
    </div>
    <div class="list-group">
      <div class="list-group-item">GoldenDict</div>
      <div class="list-group-item">Stardtict</div>
      <div class="list-group-item">...</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      What are some other tools that allow me compile dictionaries or glossaries?
    </div>
    <div class="panel-body">
      
    </div>
    <div class="list-group">
      <div class="list-group-item"><%= link_to 'WeSay', 'http://wesay.palaso.org/' %></div>
      <div class="list-group-item">FieldWorks</div>
      <div class="list-group-item">Excel</div>
    </div>
  </div>
</div>
