<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-3">Collaborative Dictionaries</h1>
  <p class="lead">Sign up to collaboratively create electronic dictionaries.</p>

  <%= link_to "Sign up now", signup_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">Create Dictionaries</h4>
      <p class="card-text">
	You can collaboratively create and edit dictionaries
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">Add Audio Recordings</h4>
      <p class="card-text">
	You can record your voice in the browser and add the resulting recording to a dictionary entry
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title">Use within GoldenDict</h4>
      <p class="card-text">
	Dictionaries can be exported to XDXF and Babylon and then used within GoldenDict, Stardict among others
      </p>
    </div>
  </div>
</div>
