<h1>New Entry</h1>

<ol class="breadcrumb">
  <li class=""><%= link_to "Dictionaries", dictionaries_path %></li>
  <li class=""><%= link_to @dictionary.name, @dictionary %></li>
  <li class="active"><%= link_to 'New Entry', '#' %></li>
</ol>

<%= render 'form' %>


