<% provide(:title, 'Sign up') %>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Sign up</h1>

    <%= render 'form' %>
    <p>If you already have an account, <%= link_to "log in", login_path %></p>
  </div>
</div>


