<h1>New Dictionary</h1>

<ol class="breadcrumb">
  <li><%= link_to "Dictionaries", dictionaries_path %></li>
  <li class="active"><%= link_to 'New dictionary', new_dictionary_path %></li>
</ol>

<%= render 'form' %>


